*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
}

body{
    background-color: #181C14;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: #3C3D37;
}

.logo{
    font-size: 32px;
    transition: 0.3s ease;
    color: #ECDFCC;
}

.logo:hover{
    transform: scale(1.05);
}

.navbar a{
    font-size: 24px;
    margin-left: 4rem;
    font-weight: 195;
    transition: 0.3s ease;
    color: #e5e5e5;
}

.navbar a:hover{
    border-bottom: 1px solid #e5e5e5;
}

#menu-icon{
    font-size: 3.6rem;
    cursor: pointer;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 299px;
}

.home-content{
    margin-left: 5rem;
    color: white;
}

.home-content h3{
    font-size: 64px;
    font-weight: 736;
}

.home-content p{
    font-size: 24px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-img img{
    width: 351px;
}

.heading{
    font-size: 64px;
    text-align: left;
    color: white;
}

.about-content{
    padding: 0 4rem;
}

.about-content p{
    font-size: 24px;
    margin: 2rem 0 3rem;
    color: white;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-container .about-box{
    flex: 1 1 30rem;
    background: #3C3D37;
    padding: 3rem 2rem 3rem;
    border-radius: 2rem;
    border: 0.3rem solid #3C3D37;
}

.about-container p{
    color: white;
}

.about-box img{
    height: 152px;
    width: 166px;
    position: relative;
    transition: 0.3s ease;
}

.about-container img:hover{
    transform: scale(1.05);
}

footer{
    background-color: #3C3D37;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 12px 8px 12px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #3C3D37;
}

::-webkit-scrollbar-thumb{
    background: #181C14;
    border-radius: 10px;
}
